Repository Fonotec/PSF, pull requests merged in 2018-11, with the labels that each got.

#14 Add Crab Pulsar examples
  examples/crabpulsar/README.md
  examples/crabpulsar/crabpulsarParam.yml
  examples/crabpulsar/getData.sh
  examples/crabpulsar/run.sh
  examples/crabpulsar_raw/README.md
  examples/crabpulsar_raw/crabpulsarParam.yml
  examples/crabpulsar_raw/getData.sh
  examples/crabpulsar_raw/run.sh
Labels: examples

#15 Add readme for the examples
  .gitignore
  examples/buurpulsar/README.md
  examples/buurpulsar_raw/README.md
  examples/huispulsar/README.md
  examples/huispulsar_raw/README.md
Labels: Documentation, examples

#18 Betermaaien
  defaults.yml
  flagging.py
  main.py
Labels: enhancement
